@import "~tachyons-sass/tachyons";
@import "~tachyons-flexbox";
@import "colors";

body{
  overflow-x: hidden;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
}

.banner{
  height: 17em;
}

@media #{$breakpoint-not-small} {
  .banner{
    height: 35em;
  }
}

.background-scene{
  height: 100%;
  background: url(../assets/goggles.svg), url(../assets/college-panorama.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: bottom;

  animation: animatedBackground 15s ease-in-out infinite alternate;
}

@keyframes animatedBackground {
  from { background-position: bottom, 0px center; }
  to { background-position: bottom, -600px center, ; }
}

//@media #{$breakpoint-large} {
//  .background-scene {
//    background-position: bottom;
//  }
//}

.banner-hud-metrics-left{
  position: absolute;
  top: 10em;
  left: 16%;
  display: none;
}

.banner-hud-metrics-right{
  position: absolute;
  top: 10em;
  right: 16%;
  display: none;
}

@media #{$breakpoint-large} {
  .banner-hud-metrics-left, .banner-hud-metrics-right {
    display: block;
  }
}

.friends-background{
  background: url(../assets/friends-dark.jpg), black;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: 69%;
}

@media #{$breakpoint-not-small} {
  .friends-background {
    background: black;
  }
}

.hud-spinning {
  background: url(../assets/hud-spinning.gif) no-repeat center 12em / 300px 300px, black;
}
.hud-metrics{
  background: url(../assets/hud-left.png) no-repeat 8% 2em / auto 8em, url(../assets/hud-right.png) no-repeat 95% 1em/ auto 10em;
}

@media #{$breakpoint-not-small} {
  .hud-spinning{
    background-position: 0 4em;
    background-size: auto;
  }
  .hud-metrics{
    background-size-y: 8em, 11em;
  }
}

@media #{$breakpoint-large} {
  .hud-metrics{
    background-position: 10% 4em, 90% 2em;
    background-size: auto, auto;
  }
}

.action-btn{
  @extend .mt3;
  @extend .db;
  @extend .tc;
  @extend .pv2;
  @extend .link;
  @extend .bg-iyt-blue;
  @extend .white;
  @extend .f4;
  @extend .bg-animate;
  @extend .hover-bg-gold;
  @extend .hover-black;
  @extend .br3;
  @extend .ttu;
  @extend .b;
}

.action-btn.action-btn-disabled{
  @extend .bg-iyt-gray;
  @extend .hover-white;
  cursor: default;
}

.z--1{
  z-index: -1;
}

.embed-container {
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
  &.absolute{
    position: absolute;
  }
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -20px 10px -20px #000000;
}
